.ShoeDetails {
    height: 100vh;
    padding-top: 76px;

    .container {
        padding-top: 10px;
        height: 100%;

        > button {
            margin-bottom: 30px;
            border: 1px solid $Maincolor;
            background-color: #fff;
            color: $Maincolor;
            border-radius: 4px;
            width: 70px;
            margin-top: 20px;
            padding: 5px 10px;
            transition: background-color 1s, border 1s, color 1s;
        }
        > button:hover {
            background-color: $Maincolor;
            color: #fff;
            border: 1px solid #fff;
            transition: background-color 1s, border 1s, color 1s;
        }
        > div {
            display: flex;
            justify-content: center;
            height: fit-content;
            img {
                height: 300px;
                width: fit-content;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
            .Shoe_Info {
                height: 50%;
                margin-left: 100px;
                h2 {
                    margin-top: 0;
                }
                > span {
                    display: inline-block;
                }
                .Shoe_Sale {
                    span:first-child {
                        text-decoration: line-through;
                        font-size: 20px;
                    }
                    span:last-child {
                        margin-left: 15px;
                        font-size: 25px;
                        color: $Maincolor;
                    }
                } //Shoe_Sale

                .Card_Rate {
                    margin: 10px 0;
                    color: yellow;
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    svg {
                        min-width: 20px;
                        min-height: 20px;
                    }
                    span {
                        color: $Maincolor;
                        height: 20px;
                        margin-left: 15px;
                    }
                } //Card_Rate

                .Shoe_Button {
                    border: 1px solid transparent;
                    background-color: $Maincolor;
                    color: #fff;
                    border-radius: 4px;
                    width: 250px;
                    margin-top: 20px;
                    padding: 5px 10px;
                    transition: background-color 1s, border 1s, color 1s;
                } //Shoe_Button
                .Shoe_Button:hover {
                    background-color: #fff;
                    color: $Maincolor;
                    border: 1px solid $Maincolor;
                    transition: background-color 1s, border 1s, color 1s;
                }
                .Shoe_Num {
                    // Plus,Minus Icon
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 10px;
                    svg {
                        min-height: 30px;
                        min-width: 30px;
                        color: #4dbde5;
                        margin: 0 20px 0 0;
                        cursor: pointer;
                        // transition: color 1s;
                    }
                    span {
                        margin-right: 20px;
                    }
                } //Plus,Minus Icon
            } //Shoe_Info
        } // > div
    } //Container
} //ShoeDetails
@media screen and (max-width: 766px) {
    .ShoeDetails {
        height: fit-content;

        .container {
            > div {
                flex-direction: column;
                align-items: center;
                width: 100%;
                margin-bottom: 50px;
                img {
                    height: fit-content;
                    width: inherit;
                }
                .Shoe_Info {
                    height: fit-content;
                    width: 100%;
                    margin-left: 0px;
                    margin-top: 20px;
                } //Shoe_Info
            } // > div
        } //Container
    } //ShoeDetails
}
