.Payment{
    min-height: 100vh;
    padding-top: 76px;
    height: fit-content;
    padding-bottom: 100px;
    .container{
        .MuiStepper-root{
            margin-top: 60px;
            span:not(.Mui-disabled){
                svg{
                    color: $Maincolor;
                }
            }
        }
        .MuiBox-root{
            button{
                background-color: #9e9e9e;
                color: white;
            }
        }
        .MuiBox-root{
            button:not(.Mui-disabled){
                background-color: $Maincolor;
                color: white;
            }
        }

    }


    .PaymentForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        input{
            width: 500px;
        }
        >p{
            font-size: 30px;
            font-weight: bold;
            margin: 20px 0 0 0;
        }
    };//PaymentForm

    // Remove input Number type button
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }

    @import "./PlaceOrderItem";
    @import "./ShippingDetails";
    @import "./Finish";
}

@media screen and (max-width: 567px) {
    .Payment{
        .PaymentForm{
            .MuiFormControl-root{
                width: 100%;
                input{
                    width: 100%;
                }
            }
  
        };//PaymentForm
    
    }
}


@media screen and (max-width: 350px) {
    .Payment{
        .PaymentForm{
        
            .MuiFormControl-root{
                width: 100%;
                input{
                    width: 100%;
                }
            }
        };//PaymentForm
    }
}