.PlaceOrderItem{
    height: 100px;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    img{
        // align-self: flex-start;
        height: 80px;
        width: fit-content;
        margin: 0 25px;
    }
    .price{
        margin-right: 25px;
    }
    .number{
        margin-right: 100px;
    }
    div:first-child{
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width: 991px) {
    .PlaceOrderItem{
        width: 70%;

        img{
            height: 40px;
            // width: fit-content;
            margin: 0 15px;
        }
        .price{
            margin-right: 15px;
        }
        .number{
            margin-right: 45px;
        }
      
    }
}
@media screen and (max-width: 767px) {
    .PlaceOrderItem{
        width: 100%;
       
        img{
            height: 40px;
            margin: 0 15px;
        }
        .price{
            margin-right: 15px;
        }
        .number{
            margin-right: 45px;
        }
    
    }
}