.Filter{
    height: fit-content;
    .container{
        >p{
            padding-top: 40px;
            margin-bottom: 7px;
            font-weight: bold;
            color: white;
            font-size: 18px;
        }
        .FilterSeach{
            // padding-top: 100px;
            display: flex;
            .FilterOption{
                position: relative;
                width: 20%;
                margin: 0 2% 0 0;
                button{
                    width: 100%;
                    border: 0;
                    background-color: white;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    // font-weight: 550;
                    padding: 5px;
                    border-radius: 4px;
                    text-indent: 10px;
                    // margin-bottom: 10px;
                    svg{
                        margin-right: 5px;
                    }
                }
                >div{
                    position: absolute;
                    background-color: white;
                    width: 100%;
                    margin-top: 8px;
                    z-index: 10;
                    border-radius: 4px;
                    overflow: hidden;
                    border: 1px solid rgba(173, 59, 59, 0.2);
                    display:inline-block;
                    p{
                        cursor: pointer;
                        text-indent: 15px;
                        margin: 0;
                        height: 40px;
                        line-height: 40px;
                    
                    }
                    p:hover{
                        background-color:rgba( #7ec0c9, 0.3) ;

                        // color: white;
                    }
                }
            }//FilterOption
            
            input{
                width: 34%;
                border: 0;
                border-radius: 4px;
                text-indent: 15px;
                outline: none;
            }

        } //FilterSeach
        .CategoriesSort{
            display: flex;
            margin-top: 30px;
            justify-content: space-between;

            button{
                padding: 5px 10px;
                border: none;
                background-color: #111;
                color: #fff;
                margin-left: 10px;
                border-radius: 5px;
            }
            .Categories{
                p{
                    font-weight: bold;
                    color: white;
                    font-size: 18px;
                    display: inline-block;
                    margin: 0 10px 0 0;
                }
                span{
                    background-color: white;
                    padding: 8.5px 10px;
                    border-radius: 5px;
                    margin-right: 10px;
                }
                span:last-child{
                    background-color: #111;
                    color: #fff;
                } // ClearButton
            }//Categories
            .Sort{
                >p{
                    font-weight: bold;
                    color: white;
                    font-size: 18px;
                    display: inline-block;
                    margin: 0;
                }
                display: flex;
                align-items: center;
    
                .SortOption{
                    position: relative;
                    width: 100px;
                    button{
                        background-color: #fff;
                        color: #111;
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: space-between;
                        text-indent: 5px;
                    }
                    >div{
                        position: absolute;
                        margin: 10px 0 0 10px;
                        background-color: #fff;
                        width: 100%;
                        border-radius: 4px;
                        overflow: hidden;
                        border: 1px solid rgba(0,0,0,.2);
                        p{
                            cursor: pointer;
                            text-indent: 15px;
                            margin: 0;
                            height: 40px;
                            line-height: 40px;
                        
                        }
                        p:hover{
                            background-color:rgba( #7ec0c9, 0.3) ;
    
                            // color: white;
                        }
                    }
            
                }//SortOption
                >svg{
                    min-height: 35px;
                    min-width: 35px;
                    padding: 5px;
                    background-color: white;
                    border-radius: 5px;
                    margin-left: 20px;
                }
            }//Sort
            
        }
    }// container
}
@media screen and (max-width: 991px) {
    .Filter{
        .container{
            >p{
                padding-top: 20px;
            }// Filtert Title
            .FilterSeach{
                flex-wrap: wrap;
                .FilterOption:nth-child(2){
                    margin: 0 2%;
                }

                .FilterOption{
                    width: 32%;
                    margin: 0;
                }//FilterOption
                
                input{
                    flex-basis: 100%;
                    margin-top: 10px;
                    height: 35px;
                    
                }
    
            } //FilterSeach
            .CategoriesSort{
                margin-top: 10px;
                flex-direction: column;
    
                .Categories{
                    display:inline-flex;
                    flex-wrap: wrap;
                    p{
                        flex-basis: 100%;
                    }
                    span{
                        margin-top: 10px;
                    }
                    span:last-child{
                        margin-top: 10px;
    
                    } // ClearButton
    
                }//Categories
                .Sort{
                    margin-top: 10px;
                    .SortOption{
                        
                        button{
                            height: 40px;
                        
                        }
   
                
                    }//SortOption
                    >svg{
                        min-height: 40px;
                        min-width: 40px;
                    }
                }//Sort
                
            }
        }// container
    }
}
@media screen and (max-width: 766px) {
    .Filter{
        .container{
            >p{
                padding-top: 20px;
            }// Filtert Title
            .FilterSeach{
                flex-wrap: wrap;
                .FilterOption:nth-child(2){
                    margin: 0 2%;
                }

                .FilterOption{
                    width: 32%;
                    margin: 0;
                }//FilterOption
                
                input{
                    flex-basis: 100%;
                    margin-top: 10px;
                    height: 35px;
                    
                }
    
            } //FilterSeach
            .CategoriesSort{
                margin-top: 10px;
                flex-direction: column;
    
                .Categories{
                    display:inline-flex;
                    flex-wrap: wrap;
                    p{
                        flex-basis: 100%;
                    }
                    span{
                        margin-top: 10px;
                    }
                    span:last-child{
                        margin-top: 10px;
    
                    } // ClearButton
    
                }//Categories
                .Sort{
                    margin-top: 10px;
                    .SortOption{
                        
                        button{
                            height: 40px;
                        
                        }
   
                
                    }//SortOption
                    >svg{
                        min-height: 40px;
                        min-width: 40px;
                    }
                }//Sort
                
            }
        }// container
    }
}