.Admin{
    min-height: 100vh;
    height: fit-content;
    // background-color: #f5f7f9;
    background-color: #fff;
    display: flex;
    @import "./SideBar";
    .Content{
        flex: 1 1 100%;
        width: calc(100% - 250px);
        @import "./Header";
        @import "./Dashboard";
        @import "./Order";
        @import "./Product";
        @import "./Feedback";
        @import "./Account";
        // transition: flex-basis 2s;
    }
    
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
}
.ConstructionModel{
    img{
        height: 150px;
        width: 150px;
    }
    .ant-modal-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            margin-bottom: 5px;
        }
    }
    .ant-btn-default{
        display: none   ;
    }
}