.Dashboard{
    display: flex;
    flex-direction: column;
    // background-color: blue;
    padding: 30px 50px;
    flex: 1 1 100;
    .statistics{
        display: flex;
        // width: 100%;
        justify-content: space-between;

        .Revenue,.Order,.User,.Visitor{
            background-color: #f5f5f5;
            width: 20%;
            border-radius: 4px;
            padding: 15px;
            .Title{
                margin-bottom: 10px;
                display: flex;
                align-items: center;

                b{
                    font-size: 14px;
                    // background-color: rebeccapurple;
                }
                svg{
                    // background-color: #56ac56;
                    margin-right: 5px;
                    height: 22px;
                    width: 22px;
                }
            }
            .Number{
                display: flex;
                align-items: center;
                >span{
                    font-size: 20px;
                    margin-right: 10px;
                }
                .Up{
                    background-color: #cfddd3;
                    svg{
                        color: #56ac56;
                    }

                }
                .Down{
                    background-color: #f4e4e5;
                    svg{
                        color: #d73d42;
                    }
                }
                .Percent{
                    border-radius: 20px;
                    width: fit-content;
                    height: 20px;
                    padding: 0 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span{
                        font-weight: bold;
                        font-size: 12px;
                        padding-right: 5px;
                    }
                    svg{
                        height: 14px;
                        width: 14px;
                    }
                }
            }
            .Compare{
                .Up{
                        color:#56ac56;
                }
                .Down{
                        color: #d73d42;
                }
                b{
                    font-size: 13px;
                    // color: red;
                }
                span{
                    font-size: 13px;
                    color: rgba($color: #000000, $alpha: .5);
                }
            }
        }
        .Order{
            background-color: #f5f5f5;
        }
        .User{
            background-color: #f5f5f5;
        }
        .Visitor{
            background-color: #f5f5f5;
        }
    }
    .Chart{
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
        width: calc(100vw - (250px + 100px + 10px));
        margin-top:40px;
        position: relative;
        .MuiFormControl-root{
            position: absolute;
            right: 0;
            width: 120px;
            // z-index: 100px;
        }
        .Title{
            margin-bottom: 20px;
        }
        h2{
            text-align: center;
        }
        .highcharts-credits{
            display: none;
        }
        // justify-content: flex-start;
    }

    
}

@media screen and (max-width: 1069px) {
    .Dashboard{
        // display: flex;
        // flex-direction: column;
        padding: 20px 30px;
        .statistics{
            padding-top: 20px;

            // display: flex;
            // width: 100%;
            // justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;
            .Revenue,.Order,.User,.Visitor{
                // // background-color: #f5f5f5;
                width: 22%;
                min-width: 150px ;
                margin-bottom: 10px;

                // border-radius: 4px;
                // padding: 10px;
                .Title{
                    // margin-bottom: 10px;
                    // display: flex;
                    // align-items: center;
    
                    b{
                        // font-size: 14px;
                    }
                    svg{
                        // margin-right: 5px;
                        // height: 22px;
                        // width: 22px;
                    }
                }
                .Number{
                    // display: flex;
                    // align-items: center;
                    >span{
                        // font-size: 16px;
                        // margin-right: 10px;
                    }
                    .Up{
                        // background-color: #cfddd3;
                        svg{
                            // color: #56ac56;
                        }
    
                    }
                    .Down{
                        // background-color: #f4e4e5;
                        svg{
                            // color: #d73d42;
                        }
                    }
                    .Percent{
                        // border-radius: 20px;
                        // width: fit-content;
                        // height: 20px;
                        // padding: 0 5px;
                        // display: flex;
                        // align-items: center;
                        // justify-content: center;
                        span{
                            // font-weight: bold;
                            // font-size: 12px;
                            // padding-right: 5px;
                        }
                        svg{
                            // height: 14px;
                            // width: 14px;
                        }
                    }
                }
                .Compare{
                    .Up{
                            // color:#56ac56;
                    }
                    .Down{
                            // color: #d73d42;
                    }
                    b{
                        // font-size: 13px;
                        // color: red;
                    }
                    span{
                        // font-size: 13px;
                        // color: rgba($color: #000000, $alpha: .5);
                    }
                }
            }
            .Order{
                // background-color: #f5f5f5;
            }
            .User{
                // background-color: #f5f5f5;
            }
            .Visitor{
                // background-color: #f5f5f5;
            }
        }
        .Chart{
            // display: flex;
            // flex-direction: column;
            margin-top:30px;
            width: calc(100vw - (250px + 60px ));
            // position: relative;
            .MuiFormControl-root{
                // position: absolute;
                // right: 0;
                // width: 120px;
            }
            .Title{
                // align-items: center;
                // display: flex;
                // justify-content: center;
                // margin-bottom: 20px;
            }
            h2{
                text-align: left;
                font-size: 25px;
                line-height: 40px;
                // font-size: 17px;
            }
            .highcharts-credits{
                // display: none;
            }
        }
    
       
    }
}
@media screen and (max-width: 780px) {
    .Dashboard{
        .statistics{
            .Revenue,.Order,.User,.Visitor{
                width: 40%;
                min-width: 150px ;            
            }
        }
        .Chart{
            // display: flex;
            // flex-direction: column;
            width: calc(100vw - (100px + 60px ));
        }
    }
}
@media screen and (max-width: 516px) {
    .Dashboard{
        // display: flex;
        // flex-direction: column;
        padding: 20px 15px;
        .statistics{
            // display: flex;
            // width: 100%;
            // justify-content: space-between;
            padding: 0;
            flex-wrap: wrap;
            min-width: 0;
            .Revenue,.Order,.User,.Visitor{
                // background-color: #f5f5f5;
                width: 45%;
                margin-bottom: 10px;
                min-width: 0;
                // border-radius: 4px;
                padding: 10px;
                .Title{
                    // margin-bottom: 10px;
                    // display: flex;
                    // align-items: center;
    
                    b{
                        // font-size: 14px;
                    }
                    svg{
                        // margin-right: 5px;
                        // height: 22px;
                        // width: 22px;
                    }
                }
                .Number{
                    // display: flex;
                    // align-items: center;
                    >span{
                        font-size: 16px;
                        // margin-right: 10px;
                    }
                    .Up{
                        // background-color: #cfddd3;
                        svg{
                            // color: #56ac56;
                        }
    
                    }
                    .Down{
                        // background-color: #f4e4e5;
                        svg{
                            // color: #d73d42;
                        }
                    }
                    .Percent{
                        // border-radius: 20px;
                        // width: fit-content;
                        // height: 20px;
                        // padding: 0 5px;
                        // display: flex;
                        // align-items: center;
                        // justify-content: center;
                        span{
                            // font-weight: bold;
                            // font-size: 12px;
                            // padding-right: 5px;
                        }
                        svg{
                            // height: 14px;
                            // width: 14px;
                        }
                    }
                }
                .Compare{
                    .Up{
                            // color:#56ac56;
                    }
                    .Down{
                            // color: #d73d42;
                    }
                    b{
                        // font-size: 13px;
                        // color: red;
                    }
                    // span{
                    //     // font-size: 13px;
                    //     // color: rgba($color: #000000, $alpha: .5);
                    // }
                }
            }
            .Order{
                // background-color: #f5f5f5;
            }
            .User{
                // background-color: #f5f5f5;
            }
            .Visitor{
                // background-color: #f5f5f5;
            }
        }
        .Chart{
            // display: flex;
            // flex-direction: column;
            margin-top: 0px;
            width: calc(100vw - (60px + 30px));
            // position: relative;
            .MuiFormControl-root{
                // position: absolute;
                // right: 0;
                // width: 120px;
            }
            .Title{
                align-items: center;
                display: flex;
                // justify-content: center;
                margin-bottom: 20px;
            }
            h2{
                text-align: left;
                font-size: 17px;
            }
            .highcharts-credits{
                // display: none;
            }
        }
    
        
    }
}