@import './variable';
@import './Navbar/NavBar';
@import './Home/Home';
@import './Product/Product';
@import './About/About';
@import './Cart/Cart';
@import './Payment/Payment';
@import './AppFooter/AppFooter';
@import './ShoeDetails/ShoeDetails';
a{
    text-decoration: none !important ;
}

.App{
    margin: 0;
    padding: 0;
    min-height: 100vh ;
    font-family: "Noto Sans","AdihausDIN","Helvetica",Arial,sans-serif;
    //Disable double-click
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    //
    // --toastify-color-success: red;
    .Toastify{
        svg{
     
            path{
                fill: $Maincolor;
            }
        }
        .Toastify__progress-bar{
            background-color: $Maincolor;
        }
    }
    >button{
        position: fixed;
        bottom: 40px;
        right: 60px;
        width: 40px;
        height: 40px;
        border: none;
        padding: 8px;
        border-radius: 5px;
        z-index: 50;
    }

}